name: Manual release

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Release version'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create next tag
        id: next_tag
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git fetch origin --tags --quiet
          echo "Next tag: ${release_version}";

          sed -i "s/\"version\": \".*\"/\"version\": \"${{release_version}}\"/g" custom_components/sensi/manifest.json
          git add -A
          git commit -m "chore: bumping version to ${release_version}"

          git tag ${release_version} -f
          git push --tags -f

          echo "next_tag=$release_version" >> $GITHUB_OUTPUT

      - name: Create GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tag_name: ${{ release_version }}
          release_name: ${{ release_version }}
          draft: false
          prerelease: false

      - name: "ZIP the integration directory"
        shell: "bash"
        run: |
          cd "${{ github.workspace }}/custom_components/sensi"
          zip sensi.zip -r ./

      - name: "Upload the ZIP file to the release"
        uses: "softprops/action-gh-release@v2.0.8"
        with:
          tag_name: ${{ release_version }}
          files: ${{ github.workspace }}/custom_components/sensi/sensi.zip
